spring:
  jpa:
    open-in-view: false
  application:
    name: ep-util
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
server:
  servlet:
    context-path: /${spring.application.name}
  port: 8002